.navbar {
  /* Shows the number of undone next action */
  .badge {
    color: #fff;
    background: #f01;
    display: inline;
    padding: 3px 5px;
    font-size: 12pt;
    height:26px;
    border-radius: 2px;
  }
}

.footer {
  @include make-xs-column(12);
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  font-size: 85%;
  text-align: center;
  color: #999;
  margin: 20px 0 5px;
}

.footer-line {
  display: block;
}

form {
<<<<<<< HEAD
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0px;
}

.inline-form {
    border: none;
    padding: 3px;
}

.inline-form table {
    padding-right: 3px;
}

/* expand form contents to fill the whole form */
.inline-form table,
.inline-form textarea#item_notes,
.inline-form input#item_description {
    width: 100%;
}

/* shrink the label/left column as small as necessary */
.inline-form table td.label {
    width: 13ex;
}

#todo_new_action_container, #project_new_project_container, #context_new_container, #recurring_new_container {
    background: #ddd;
    width: 270px;
    padding: 5px 10px;
    background-color: #001;
    color: #eee;
}

#recurring_new_container img {
    vertical-align: middle;
}

#project_new_project_filler {
    padding-top: 50px;
}

#todo_new_action_container input,
#todo_new_action_container textarea,
#project_new_project_container input,
#project_new_project_container textarea,
#context_new_container input  {
    width: 100%;
}

input#go_to_project, input#context_hide {
    width: 5%;
}

#todo_new_action_container {
    .show_from_input, .due_input {
        width: 45%;
    }
}

#todo_new_action_container .show_from_input {
    float: right;
}

#todo-form-new-action, #project_form, #context_form, #todo-form-multi-new-action {
    .submit_box {
        height: 25px;
        padding: 5px 0;
        text-align: center;
        clear: right;
    }
}

.edit_todo_form {
    input, textarea { width:100%; }

    .submit_box {
        height: 25px;
        padding: 5px 0;
        text-align: center;
        clear: right;
    }

    .Date { width:89%; }

    a.date_clear:hover { background: #CCCCCC; }

    .tag_list_label { clear:both; }

    .due_input, .show_from_input, .project_input, .context_input {
        width:48%;
    }

    .show_from_input, .context_input {
        float: right;
    }

    .submit_box input {
        width:120px;
    }
}

.hide_form {
    text-align:right;
}

#todo-form-new-action label, .edit_todo_form label {
    display: block;
    padding-bottom: 3px;
}

form.button-to {
    border: none;
    padding: 0px;
    margin: 0px;
}

label {
    font-weight: bold;
    padding: 0px 0px;
}

input, select, textarea {
    margin: 0px 0px 5px 0px;
}

#feedicons-project, #feedicons-context {
    background-color: #D2D3D6;
    margin: 0px 0px 0px 60px;
    padding: 0px 0px 0px 5px;
    width: 70%;
}

.feed {
    font-family: verdana, sans-serif;
    font-size: 10px;
    font-weight:bold;
    text-decoration:none;
    color: white;
    background-color: #F60;
    border:1px solid;
    border-color: #FC9 #630 #330 #F96;
    padding:0px 3px 0px 3px;
    margin:0px;
}

/* Classes for Drag and Drop */
.position {
    float: left;
    margin-top:2px;
}
.handle {
    color: #fff;
    background: #002;
    padding: 2px;
    font-size: 92%;
    cursor: move;
}

div.message {
    margin: 5px 0px;
    background: #FAF4B5;
    padding: 2px;
}

.message p {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1em;
    color: #666;
}

.grip {
    cursor: move;
    float: left;
}

.drop_target {
    display:none;
}

.hover {
    background: #EAEAEA;
    font-weight: bold;
}

.context_target {
    height: 15px;
    margin: 4px;
    border: 4px dotted #999;
}

/* Error message styles */
.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    border: 2px solid #ff0010;
    padding: 7px;
    padding-bottom: 12px;
    margin: 10px auto 20px auto;
    background-color: #f0f0f0;

    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px;
        background-color: #c01;
        color: #fff;
    }

    > p {
        color: #333;
        margin-top: 5px;
        margin-bottom: 0;
        padding: 5px;
    }

    ul li {
        font-size: 1em;
        list-style-type: disc;
        list-style-position: inside;
        margin-left:7px;
        color: #333;
    }
}

ul#prefs {list-style-type: disc; margin-left: 15px;}
#token_area, #authentication_area {
    text-align:center;
    margin-top:20px;
    margin-bottom:10px;
}

#token_area .description{
    font-weight:bold;
}

#token_area form {
    width:100%;
    text-align:center;
}

.prefscontainer .actions {
    text-align:center;
    margin-bottom:20px;
}

.authtype_container .actions {
    margin-top:20px;
    margin-bottom:20px;
}

#feedlegend {
    padding: 2px;
    background-color: #D2D3D6;
    color: #666;
    padding: 5px 20px;
    text-align: left;

    h3, dl, dt, dd {
        display: inline;
    }

    dt { margin-left: 15px; }
    dd { margin-left: 3px; }
    p { margin-bottom: 0px; }
}

#feeds {
    img.rss-icon {
        margin-bottom: -4px;
    }

    li {
        font-size:13px;
        font-family: "Lucida Grande", Verdana, Geneva, Arial, sans-serif;

        h4 {
            margin-top: 12px;
            margin-bottom: 4px;
            font-weight: normal;
            font-style:oblique;
        }
    }
}

input.open_id {
    background: image-url('open-id-login-bg.gif') no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #001;
    padding-left: 18px;
    width:182px;
}

div.page_name_auto_complete {
    width: 100%;
    background: #fff;
    display: inline;
    z-index: 100;

    ul {
        border: 1px solid #888;
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;

        li {
            margin: 0;
            padding: 2px;
            font-weight:bold;
            list-style-type: none;
            color: #002;
        }

        li.selected {
            background-color: #ffb;
        }

        strong.highlight {
            color: #802;
            margin: 0;
            padding: 0;
        }
    }
}

table.next_actions td {
    padding:5px 3px 2px 0px;
}

table.users_table {
    width: 100%;
    text-align: center;
    border: 1px solid #666;
    background-color: #fff;
    border-spacing: 0px;
}

.users_table th {color: #fff; background-color: #001;}
.users_table td {border: none;}

table.export_table {
    border: 1px solid #666;
    background-color: #fff;
    border-spacing: 0px;
}

.export_table th {color: #fff; background-color: #001;}
.export_table td {border: 1px; padding: 5px 0px 5px 5px;}

/* Submit button styling from ParticleTree
http://particletree.com/features/rediscovering-the-button-element/ */

.widgets a, .widgets button {
    display:block;
    float: left;
    margin:0px 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Verdana, Geneva, Arial, sans-serif;
    font-size:80%;
    line-height:100%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:3px 5px 7px 5px; /* Links */
}

.widgets button{
    width:auto;
    overflow:visible;
    padding:3px 5px 5px 5px; /* IE6 */
}

.widgets button[type]{
    padding:3px 5px 4px 5px; /* Firefox */
    line-height:15px; /* Safari */
}
.widgets button img, .widgets a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

.widgets a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.widgets a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .widgets a.positive{
    color: #498111;
}
.widgets a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.widgets a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.widgets a.negative, button.negative{
    color:#d12f19;
}
.widgets a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}

.widgets a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

.blockUI.blockOverlay {
    background-image:image-url('waiting.gif');
    background-repeat:no-repeat;
    background-position:center center;
    background-color:white;
    opacity: 1;
}

.bigWaiting {
    background-image:image-url('bigWaiting.gif');
    background-repeat:no-repeat;
    background-position:center 20%;
    background-color:white;
}

.blackWaiting {
    background-image:image-url('blackWaiting.gif');
    background-repeat:no-repeat;
    background-position:center center;
    background-color:black;
}

.bigBlackWaiting {
    background-image:image-url('bigBlackWaiting.gif');
    background-repeat:no-repeat;
    background-position:center center;
    background-color:black;
}

.stats_content .open-flash-chart, .stats_content .stats_module {
    float: left;
    width: 450px;
    margin-right:20px;
    padding-bottom:20px;
}

.stats_content h2
{
    clear:both;
    margin-top:15px;
    margin-bottom:15px;
}

div.integrations {
    h2 {
        margin-top:40px;
        padding-top:20px;
        margin-bottom:10px;
        border-top:1px solid #ccc;
    }

    p, li { font-size:1.0em; }
    pre { font-size:1.1em; }

    li {
        list-style-type: disc;
        list-style-position: inside;
        margin-left:30px;
    }

    textarea {
        margin:10px;
        padding:3px;
        width:80%;
        background-color:#ddd;
    }
}

.defer-container {
    float:right;

    a:hover { background-color: inherit; }
}

div.auto_complete {
    width: 350px;
    background: #fff;
    color: #002;

    ul {
        border:1px solid #888;
        margin:0;
        padding:0;
        width:100%;
        list-style-type:none;

        li {
            font-size: 1.0em;
            margin:0;
            padding:3px;
            list-style-type: none;
        }

        li.selected {
            background-color: #ffb;
            font-weight:bold;
        }

        strong.highlight {
            color: #800;
            margin:0;
            padding:0;
        }
    }
}

.ui-datepicker {
    z-index: 1000 !important;
}

.ui-autocomplete-loading {
    background: white image-url('ui-anim_basic_16x16.gif') right center no-repeat;
}

a.item-downarrow {
    margin-left: 0;
    margin-right: 0;
}

ul.todo-submenu > li > a {
    &, &:hover, &:active, &:visited {
        position: relative;
        padding-left: 24px;
        height: 16px;
        line-height: 16px;
    }

    &.icon_delete_item {
        background: image-url('delete.png') no-repeat 2px top;
        &:hover { background-position: 2px bottom; }
    }

    @each $days in 1, 2, 3, 7 {
        &.icon_defer_#{$days}_item {
            background: image-url('defer_#{$days}.png') no-repeat left top;
            &:hover { background-position: left bottom; }
        }
    }

    &.icon_item_to_project {
        background: image-url('to_project_off.png') no-repeat;
    }
  border: 0px none;
  padding: 0;
}

@media screen and (min-width: 1170px) {
  .footer-line {
    display: inline;
  }
}
